 <h1> User Name : {{data.name}} </h1> 

{% comment %} data -> {{name}} data me hm jo kuch nanwe dete hai {% endcomment %}
{% comment %} 
{{name}}
{{email}}
{{contact}}
{{password}} {% endcomment %}
{% comment %} 
    ###{'data':data} -> {{data}} use

<h3 align="center">Name : {{data.name}}</h3>
<h3 align="center">Email : {{data.email}}</h3>
<h3 align="center">Contact : {{data.contact}}</h3>
<h3 align="center">Password : {{data.password}}</h3>



{% for i in data  %}
<td> 
{{i.stu_name}}
{{i.stu_email}}
{{i.stu_password}}
{{i.stu_contact}}
</td> 

{% endfor %} 
 {% endcomment %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
        <body>
                {% comment %} data -> {{name}} data me hm jo kuch nanwe dete hai {% endcomment %}
                {% comment %} 
                {{name}}
                {{email}}
                {{contact}}
                {{password}} {% endcomment %}



                {% comment %} {'data':data} -> {{data.name}} use {% endcomment %}

                {% comment %} <h3 align="center">Name : {{data.name}}</h3>
                <h3 align="center">Email : {{data.email}}</h3>
                <h3 align="center">Contact : {{data.contact}}</h3>
                <h3 align="center">Password : {{data.password}}</h3> {% endcomment %}





            <section style="display: flex; padding:20px; margin:30px; width: 100%; border-collapse: collapse;> 
                <div style="margin-left:30%"> 

                  <h1> User Name : {{data.name}} </h1> 
                  <br>
                  <br>
                 
                 {% if edit  %}
                 {{ edit }}

                  <h1> Query_form </h1>
                  <form action="{% url 'update' x=edit.id %}"  x=edit.id method="post">
                    {% csrf_token %} 
                    {% comment %} {{ edit.id}} {% endcomment %}
    
                        Name <input type="text"  name="name" value="{{edit.name}}" required ><br><br>
                        Email<input type="email"  name="email" value="{{edit.email}}" required><br><br>
                        Query<input id="query" name="query" rows="5" value="{{edit.query}}" ><br><br>

                        <button type="Query" > update </button>
                    
                </form>
                </div> 



                {% else  %}

                {{edit}}
                  <h1> Query_form </h1>
                  <form action="{% url 'query' %}" method="post">
                    {% csrf_token %} 
    
                        Name <input type="text"  name="name" value="{{data.name}}" required ><br><br>
                        Email<input type="email"  name="email" value="{{data.email}}" required><br><br>
                        Query<input id="query" name="query" rows="5"  required ><br><br>

                        <button type="Query" > Query </button>
                    
                </form>
                </div> 

                {% endif %}



                <div  style="margin-left:20%">    
                   <h1> Query details </h1>
                  <table border="1" style=" border-collapse: collapse;"  value="{{data}}" >
                        <tr>
                            <th> NO. </th> 
                            <th>Student Name</th>
                            <th>Email</th>
                            <th>Query </th>
                            <th>Edit  </th>
                            <th>Delete </th>
                        </tr> 

                          {% for i in orders %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.query }}</td>
                            <td><a href= "{% url 'edit' x=i.id %}" ><button> Edit  </button> </a> </td> 
                            <td><a href= "{% url 'delete' x=i.id em=i.email %}" ><button> Delete  </button> </a> </td> 
                         
                        </tr>  
                        {% endfor %}
                    </table> 
                </div>
                </section> 

            

{% comment %} 

                <table border="1" style="width: 100%; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th>Student Name</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Contact Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                            <tr>
                                <td> {{i.id}}</td>
                                <td>{{ i.stu_name }}</td>
                                <td>{{ i.stu_email }}</td>
                                <td>{{ i.stu_password }}</td>
                                <td>{{ i.stu_contact }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table> {% endcomment %}
                

        
                
</body>
</html>



