{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="order" id="Order">
    <h1><span>Order</span> Now</h1>
    <div class="order_main">
        <div class="order_image">
            <img src="{% static 'images/great.jpg' %}">
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="input">
                <p>Name</p>
                <input type="text" name="name" placeholder="Your Name" required>
            </div>
            <div class="input">
                <p>Email</p>
                <input type="email" name="email" placeholder="Your Email" required>
            </div>
            <div class="input">
                <p>Number</p>
                <input type="text" name="number" placeholder="Your Number" required>
            </div>
            <div class="input">
                <p>Count</p>
                <input type="number" name="count" placeholder="How many order" required>
            </div>
            <div class="input">
                <p>Your Order</p>
                <input type="text" name="food_name" placeholder="Food Name" required>
            </div>
            <div class="input">
                <p>Address</p>
                <input type="text" name="address" placeholder="Your Address" required>
            </div>
            <input type="submit" id="submit" value="Order Now">
            {% comment %} <a class="btn btn-secondary" href="{% url 'slicing' %}">Slicing Users</a> {% endcomment %}


        </form>
       
    </div>
    <br> 
    <a href="{% url 'order_list' %}" style="text-decoration: none;">
    <button style=" position: relative;
    width: 180px;
    padding: 12px 25px;
    text-align: center;
    border: 3px solid orange;
    background: transparent;
    border-radius: 50px;
    cursor: pointer;
    color: yellow;
    left: -190px;
    bottom: 90px;
    overflow: hidden;
    margin-left:1300px
    ">
        Order Users
    </button>
</a>

</div>
{% endblock %}

















{% comment %} {% extends 'base.html' %}
{% load static %}
{% block content %}

 <div class="order" id="Order">
        <h1><span>Order</span>Now</h1>

        <div class="order_main">
            <div class="order_image">
                <img src="{% static 'images/great.jpg' %}" >
            </div>

            <form action="#">
                <div class="input">
                    <p>Name</p>
                    <input type="text" placeholder="Your Name">
                </div>

                <div class="input">
                    <p>Email</p>
                    <input type="email" placeholder="Your Email">
                </div>

                <div class="input">
                    <p>Number</p>
                    <input placeholder="Your Number">
                </div>

                <div class="input">
                    <p>Count</p>
                    <input type="number" placeholder="How many order">
                </div>

                <div class="input">
                    <p>Your Order</p>
                    <input placeholder="Food Name">
                </div>
                <div class="input">
                    <p>Address</p>
                    <input placeholder="Your Address">
                </div>

                <input type="submit" id="submit" value="Order Now">
            </form>
        </div>
    </div>


{% endblock %} {% endcomment %}